<%- include("partials/header.ejs") %>
<div class="expand">
    <div class="expandedTitle">
        <h1><%= title2 %></h1>
    </div>
    <div class="expandedText">
        <p><%= text2 %></p>
    </div>
</div>
<%- include("partials/footer.ejs") %>